@using ZwartOpWit.Models
@using Microsoft.AspNetCore.Mvc.Localization
@model ZwartOpWit.Models.Viewmodels.MenuVM
@inject IViewLocalizer Localizer
<div class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (Model != null)
                {
                    @foreach (MachineTypes machineType in Enum.GetValues(typeof(MachineTypes)))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@machineType.ToString()<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Job" asp-action="Index" asp-route-filterMachineType="@machineType">@Localizer["ToDo"]</a></li>
                                <li><a asp-area="" asp.controller="Job" asp-action="Index" asp-route-filterMachineType="@machineType" asp-route-completed="true">Jobs Done</a></li>
                                <li><a asp-area="" asp-controller="Job" asp-action="Index" asp-route-filterMachineType="@machineType">@Localizer["NoMachine"]</a></li> 
                                @if (Model.machineList.Where(x => x.Type == machineType).ToList().Count != 0)
                                {
                                    <li role="separator" class="divider"></li>
                                    @foreach (var machine in Model.machineList.Where(x => x.Type == machineType).ToList())
                                    {
                                        <li><a asp-area="" asp-controller="Job" asp-action="Index" asp-route-filterMachineId="@machine.Id">@machine.Name</a></li>
                                    }
                                    <li role="separator" class="divider"></li>
                                }
                                <li><a asp.area="" asp-controller="Job" asp-action="Import"  asp-route-machineType="@machineType">@Localizer["Import"]</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>
            @await Html.PartialAsync("_LoginPartial")
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>
</div>