@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.DepartmentVM
@{

}
<h1>@Localizer["Update"]</h1>
<div>
    @if (Model.department != null)
    {
        <form asp-action="Update" asp-controller="Department">
            <div class="form-group">
                <label asp-for="department.Name">@Localizer["DepartmentName"]:</label>
                <input asp-for="department.Name" type="text" value="@Model.department.Name" class="form-control" />
                <span asp-validation-for="department.Name" class="text-danger"></span>
            </div>
            <input asp-for="department.Id" type="hidden" value="@Model.department.Id" />
            <a class="btn btn-default" asp-area="" asp-controller="Department" asp-action="Index">@Localizer["Back"]</a>
            <input type="submit" value="@Localizer["Update"]" class="btn btn-default" />
        </form>
    }
    else
    {
        <h2>@Localizer["NoDepartmentFound"]</h2>
    }
</div>

