@model ZwartOpWit.Models.Viewmodels.JobListVM
@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.jobLineList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.jobLineList.HasNextPage ? "disabled" : "";
}

<h1> Jobs to do</h1>
<div>
    <form asp-controller="Job" asp-action="Index" method="get" asp-route-filterMachineId="@Model.filterMachineId" asp-route-filterMachineType="@Model.filterMachineType" asp-route-currentFilter="@Model.currentFilter">
        Delivery Date:
        <input type="date" name="filterDateTime" value="@Model.filterDateTime"/>
        <input type="submit"/> 
    </form>
    <form asp-controller="Job"  asp-action="Index" method="get" asp-route-filterMachineId="@Model.filterMachineId" asp-route-jobFilterDateTime="@Model.filterDateTime" asp-route-filterMachineType="@Model.filterMachineType" asp-route-currentFilter="@Model.currentFilter">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@Model.currentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</div>
<div>
    @if (@Model.jobLineList.Count() == 0)
    {
        <p>No jobs found for these filter settings</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.jobNumberSortParm" asp-route-currentFilter="@Model.currentFilter" asp-route-jobFilterDateTime="@Model.filterDateTime" asp-route-filterMachineId="@Model.filterMachineId" asp-route-filterMachineType="@Model.filterMachineType">JobNumber</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.quantitySortParm" asp-route-currentFilter="@Model.currentFilter" asp-route-jobFilterDateTime="@Model.filterDateTime" asp-route-filterMachineId="@Model.filterMachineId" asp-route-filterMachineType="@Model.filterMachineType">Quantity</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.pageQuantitySortParm" asp-route-currentFilter="@Model.currentFilter" asp-route-jobFilterDateTime="@Model.filterDateTime" asp-route-filterMachineId="@Model.filterMachineId" asp-route-filterMachineType="@Model.filterMachineType">Pages</a></th>
                    <th>PaperInside</th>
                    <th>PaperCover</th>
                    <th>Machine</th>
                    <th>Time</th>
                    <th>Start this Job</th>
                    @foreach (var machine in Model.machineList)
                    {
                        <th>@machine.Name</th>
                    }
                    <th>Out</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var jobLine in Model.jobLineList)
                    {
                        <tr>
                            <td>@jobLine.Job.JobNumber / Id = @jobLine.Id</td>
                            <td>@jobLine.Job.Quantity</td>
                            <td>@jobLine.Job.PageQuantity</td>
                            <td>@jobLine.Job.PaperBw</td>
                            <td>@jobLine.Job.PaperCover</td>
                            <td>@jobLine.Machine.Name</td>
                            <td>@jobLine.CalculatedTime</td>
                            <td>
                                <a asp-controller="Job" asp-action="StartStitchAsync" asp-route-jobId="@jobLine.Id" class="btn btn-default"><span class="glyphicon glyphicon-record"></span></a>
                            </td>
                            @foreach (var machine in Model.machineList)
                            {
                                <td>
                                    <a asp-controller="Job" asp-action="AssignJobLine" asp-route-jobLineId="@jobLine.Id" asp-route-machineId="@machine.Id" asp-route-filterMachineId="@Model.filterMachineId" asp-route-filterMachineType="@Model.filterMachineType" asp-route-currentFilter="@Model.currentFilter" class="btn btn-default"><span class="glyphicon glyphicon-record"></span></a>
                                </td>
                            }
                            <td>
                                <a asp-controller="Job" asp-action="AssignJobLine" asp-route-jobLineId="@jobLine.Id" asp-route-machineId="1" class="btn btn-default"><span class="glyphicon glyphicon-record"></span></a>
                            </td>
                            <td>
                                <a asp-controller="Job" asp-action="ReadStitch" asp-route-jobId="@jobLine.Id" class="btn btn-default"><span class="glyphicon glyphicon-record"></span></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.jobLineList.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.jobLineList.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
                    }
   
</div>
<p>Totaaltijd = @Model.totalTime</p>

