@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = "Job Ready";
}
@model ZwartOpWit.Models.Viewmodels.JobListVM
<h1>@Localizer["JobReady"]</h1>
<div>
    <form asp-controller="Job" >
        <input type="submit" value="@Localizer["Yes"]" asp-action="JobReady" asp-route-jobId="@Model.jobId" asp-route-yes ="true"/>
        <input type="submit" value="@Localizer["Stop"]" asp-action="JobReady" asp-route-jobId="@Model.jobId" asp-route-yes ="false"/>
    </form>
    
</div>
