@model ZwartOpWit.Models.Viewmodels.UserListVM
@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.userList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.userList.HasNextPage ? "disabled" : "";
}
<div>
    <div>
        <h2>Userpage</h2>
        <p><a asp-controller="User" asp-action="Create" class="btn btn-info">New User</a></p>

    </div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.EmailSortParm" asp-route-currentFilter="@Model.CurrentFilter">Email</a></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.userList)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                        <td>
                            <a asp-controller="User" asp-action="Read" asp-route-id="@user.Id" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a asp-controller="User" asp-action="Update" asp-route-id="@user.Id" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.userList.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.userList.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>