@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.UserUpdateVM

@{

}
<h1>@Localizer["Update"]</h1>
<p><a asp-controller="User" asp-action="ResetPassword" asp-user-id="@Model.UserId" class="btn btn-info">@Localizer["ResetPassword"]</a></p>
<div>
    @if (Model.UserId != null)
    {
        <form asp-action="Update" asp-controller="User">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-md-2 control-label"></label>
                <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                    <option>Please select</option>
                </select>
            </div>
            <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            <a class="btn btn-default" asp-area="" asp-controller="User" asp-action="Index">@Localizer["Back"]</a>
            <input type="submit" value="@Localizer["Update"]" class="btn btn-default" />
        </form>
    }
    else
    {
        <h2>@Localizer["NoUserFound"]</h2>
    }
</div>


