@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using ZwartOpWit.Models
@model ZwartOpWit.Models.Viewmodels.MachineVM
@{

}
<h1>@Localizer["Create"]</h1>
<form asp-action="Create" asp-controller="Machine">
    <div>
        <div class="form-group">
            <label asp-for="machine.Name">@Localizer["MachineName"]:</label>
            <input asp-for="machine.Name" class="form-control" />
            <span asp-validation-for="machine.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.Type">@Localizer["Type"]:</label>
            <select asp-for="machine.Type"
                    asp-items="Html.GetEnumSelectList<MachineTypes>()" class="form-control"></select>
            <span asp-validation-for="machine.Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.CalculationMethod">@Localizer["CalculationMethod"]:</label>
            <select asp-for="machine.CalculationMethod"
                    asp-items="Html.GetEnumSelectList<CalculationMethodTypes>()" class="form-control"></select>
            <span asp-validation-for="machine.CalculationMethod" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.DepartmentId">@Localizer["Department"]</label>
            <select asp-for="machine.DepartmentId" asp-items="@Model.selectDepartments" class="form-control"></select>
            <span asp-validation-for="machine.DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.SetupTime">@Localizer["SetupTime"]:</label>
            <input asp-for="machine.SetupTime" class="form-control" />
            <span asp-validation-for="machine.SetupTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.RunTimeTo1000Speed">@Localizer["RunTimeTo1000"]:</label>
            <input asp-for="machine.RunTimeTo1000Speed" class="form-control" />
            <span asp-validation-for="machine.RunTimeTo1000Speed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.RunTimeTo1000SpeedStationFactor">@Localizer["RunTimeTo1000Factor"]:</label>
            <input asp-for="machine.RunTimeTo1000SpeedStationFactor" class="form-control" />
            <span asp-validation-for="machine.RunTimeTo1000SpeedStationFactor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.RunTimeFrom1000Speed">@Localizer["RunTimeFrom1000"]:</label>
            <input asp-for="machine.RunTimeFrom1000Speed" class="form-control" />
            <span asp-validation-for="machine.RunTimeFrom1000Speed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="machine.RunTimeFrom1000SpeedStationFactor">@Localizer["RunTimeFrom1000Factor"]:</label>
            <input asp-for="machine.RunTimeFrom1000SpeedStationFactor" class="form-control" />
            <span asp-validation-for="machine.RunTimeFrom1000SpeedStationFactor" class="text-danger"></span>
        </div>
        <a class="btn btn-default" asp-area="" asp-controller="Machine" asp-action="Index">@Localizer["Back"]</a>
        <input type="submit" value="@Localizer["Add"]" class="btn btn-default" />
    </div>
</form>
