@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.MachineListVM
@{
    var prevDisabled = !Model.machineList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.machineList.HasNextPage ? "disabled" : "";
}
<div>
    <div>
        <h2>@Localizer["Title"]</h2>
        <p><a asp-controller="Machine" asp-action="Create" class="btn btn-info">@Localizer["New"]</a></p>
    </div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                @Localizer["FindByName"]: <input type="text" name="SearchString" value="@Model.currentFilter" />
                <input type="submit" value="@Localizer["Search"]" class="btn btn-default" /> |
                <a asp-action="Index">@Localizer["BackToFullList"]</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.nameSortParm" asp-route-currentFilter="@Model.currentFilter">@Localizer["MachineName"]</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.calculationMethodSortParm" asp-route-currentFilter="@Model.currentFilter">@Localizer["CalculationMethod"]</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.typeSortParm" asp-route-currentFilter="@Model.currentFilter">@Localizer["Type"]</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@Model.departmentSortParm" asp-route-currentFilter="@Model.currentFilter">@Localizer["Department"]</a></th>
                    <th>@Localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var m in Model.machineList)
            {
                        <tr>
                            <td>@m.Name</td>
                            <td>@m.CalculationMethod.ToString()</td>
                            <td>@m.Type.ToString()</td>
                            <td>@m.Department.Name</td>
                            <td>
                                <a asp-controller="Machine" asp-action="Read" asp-route-id="@m.Id" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a asp-controller="Machine" asp-action="Update" asp-route-id="@m.Id" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a asp-controller="Machine" asp-action="Delete" asp-route-id="@m.Id" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>    
                            </td>
                        </tr>
                    }}
            </tbody>
        </table>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.machineList.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            @Localizer["Previous"]
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.machineList.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            @Localizer["Next"]
        </a>
    </div>
</div>
