@model ZwartOpWit.Models.Viewmodels.MachineVM
@{

}
<h1>Read</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>Name</td>
            <td>@Model.machine.Name</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Model.machine.CalculationMethod.ToString()</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Model.machine.Type.ToString()</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@Model.machine.Department.Name</td>
        </tr>
        <tr>
            <td>Setup Time</td>
            <td>@Model.machine.SetupTime</td>
        </tr>
        <tr>
            <td>Runtime to 1000 speed</td>
            <td>@Model.machine.RunTimeTo1000Speed</td>
        </tr>
        <tr>
            <td>Runtime to 1000 station factor</td>
            <td>@Model.machine.RunTimeTo1000SpeedStationFactor</td>
        </tr>
        <tr>
            <td>Runtime from 1000 speed</td>
            <td>@Model.machine.RunTimeFrom1000Speed</td>
        </tr>
        <tr>
            <td>Runtime from 1000 station factor</td>
            <td>@Model.machine.RunTimeFrom1000SpeedStationFactor</td>
        </tr>
    </table>
</div>