@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.MachineVM
@{

}
<h1>@Localizer["Read"]</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>@Localizer["MachineName"]</td>
            <td>@Model.machine.Name</td>
        </tr>
        <tr>
            <td>@Localizer["Type"]</td>
            <td>@Model.machine.Type.ToString()</td>
        </tr>
        <tr>
            <td>@Localizer["CalculationMethod"]</td>
            <td>@Model.machine.CalculationMethod.ToString()</td>
        </tr>
        <tr>
            <td>@Localizer["Department"]</td>
            <td>@Model.machine.Department.Name</td>
        </tr>
        <tr>
            <td>@Localizer["SetupTime"]</td>
            <td>@Model.machine.SetupTime</td>
        </tr>
        <tr>
            <td>@Localizer["RunTimeTo1000"]</td>
            <td>@Model.machine.RunTimeTo1000Speed</td>
        </tr>
        <tr>
            <td>@Localizer["RunTimeTo1000Factor"]</td>
            <td>@Model.machine.RunTimeTo1000SpeedStationFactor</td>
        </tr>
        <tr>
            <td>@Localizer["RunTimeFrom1000"]</td>
            <td>@Model.machine.RunTimeFrom1000Speed</td>
        </tr>
        <tr>
            <td>@Localizer["RunTimeFrom1000Factor"]r</td>
            <td>@Model.machine.RunTimeFrom1000SpeedStationFactor</td>
        </tr>
    </table>
    <a class="btn btn-default" asp-area="" asp-controller="Machine" asp-action="Index">@Localizer["Back"]</a>
</div>