@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.TimeRegisterVM
@{

}
<h1>@Localizer["Update"]</h1>
<div>
    @if (Model.timeRegister != null)
    {
        <form asp-action="Update" asp-controller="TimeRegister">
            <div class="form-group">
                <label asp-for="timeRegister.JobLine.JobId">@Localizer["JobId"]:</label>
                <input asp-for="timeRegister.JobLine.JobId" type="text" value="@Model.timeRegister.JobLine.JobId" class="form-control" />
                <span asp-validation-for="timeRegister.JobLine.JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeRegister.User.UserName">@Localizer["UserName"]:</label>
                <input asp-for="timeRegister.User.UserName" type="text" value="@Model.timeRegister.User.UserName" class="form-control" />
                <span asp-validation-for="timeRegister.User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeRegister.Start">@Localizer["StartTime"]:</label>
                <input asp-for="timeRegister.Start" type="text" value="@Model.timeRegister.Start" class="form-control" />
                <span asp-validation-for="timeRegister.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeRegister.Stop">@Localizer["StopTime"]:</label>
                <input asp-for="timeRegister.Stop" type="text" value="@Model.timeRegister.Stop" class="form-control" />
                <span asp-validation-for="timeRegister.Stop" class="text-danger"></span>
            </div>
            <input asp-for="timeRegister.Id" type="hidden" value="@Model.timeRegister.Id" />
            <a class="btn btn-default" asp-area="" asp-controller="TimeRegister" asp-action="Index">@Localizer["Back"]</a>
            <input type="submit" value="@Localizer["Update"]" class="btn btn-default" />
        </form>
    }
    else
    {
        <h2>@Localizer["NoTimeRegisterFound"]</h2>
    }
</div>

