@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Mvc.Localization
@model ZwartOpWit.Models.Viewmodels.LoginVM
@inject Microsoft.AspNetCore.Identity.SignInManager<ZwartOpWit.Models.User> SignInManager
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Log in";
    Layout = "_layoutLogin";
}

<section>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4>@Localizer["Info"]</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
            <div class="form-right">
                <a asp-action="ForgotPassword">@Localizer["ForgotPassword"]</a>
            </div>
        </div>
        <div class="form-right">
            <button type="submit" class="btn btn-default">@Localizer["LogIn"]</button>
        </div>
    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
